body {
    margin: 0;
    padding: 0;
}
.canvas {
    width: 100%;
    height: 100%;
}
.core {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-self: center;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-items: center;
    
}
.wrap {
    margin: 5% auto;
    background-color: hsl(314deg 74% 60%);
    width: 500px;
    height: 500px;
    border-radius: 65px;
}
.block {
    display: flex;
    width: 80%;
    height: 80%;
    border: 4px solid darkmagenta;
    border-radius: 50%;
    align-items: center;
    flex-direction: column;
}
.btn {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: hsl(249, 100%, 58%);
    text-align: center;
    
}
.button {
    position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}